body {
    background-color: rgb(255, 255, 255);
}
#main_h1 {
    color: rgb(5, 70, 192);
    font-family: Arial, sans-serif;
}
h2 {
    color: rgb(5, 70, 192);
    font-family: 'Arial', sans-serif;
}
p {
    color: rgb(7, 70, 192);
    font-family: 'Arial', sans-serif;
}